<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>

		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<table class="table table-striped">
				<tr>
					<th>SN</th>
					<th>Name</th>
					<th>Edit</th>
					<th>Action</th>
				</tr>
				<a class="btn btn-primary" href="/category/create"
					>Create New</a
				>
				<% for(let i in categories) {%>
				<tr>
					<th><%= parseInt(i)+1 %></th>
					<th><%= categories[i].name %></th>
					<th>
						<a
							class="btn btn-link"
							href="/category/<%= categories[i]._id %>/edit"
							>Edit</a
						>
					</th>
					<th>
						<a
							class="btn btn-danger"
							href="/category/<%= categories[i]._id %>/delete"
							>Delete</a
						>
					</th>
				</tr>

				<% } %>
			</table>
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
