<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Edit Category</title>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<style>
			.my-container {
				margin: 5rem auto;
				/* border: 1px solid red; */
				height: 30rem;
				padding: 30px;
				width: 40rem;
				border-radius: 10px;
				box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
					rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
					rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
			}
		</style>
	</head>
	<body>
		<div class="my-container">
			<h2 class="text-center">Edit Category</h2>
			<br />

			<form action="/category/<%= category.id%>/edit" method="post">
				<div class="form-group">
					<label for="inputField"
						>Previous Category : <%=category.name %>
					</label>
					<input
						type="text"
						class="form-control"
						id="inputField"
						name="category"
						placeholder="Enter new Category"
					/>
				</div>
				<br />
				<div class="text-center"></div>
				<button type="submit" class="btn btn-success">Update</button>
			</form>
		</div>

		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
